# Binaries, plugins, libs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build files
*.o

# Dependency directories
vendor/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Log files
*.log

# Others
.DS_Store

# Temporary files
*.tmp
*.swp
*.swo